@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    width: 90%;
    font-family: 'Quicksand', sans-serif;
    margin-top: 3%;
    font-size: 30px;
    margin-left: 4%;
    text-align: center;
}


.sous_titre{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    margin-left: 25%;
    width: 50%;
    height: 4rem;
}

.sous_titre a {
    text-decoration: none;
    color: rgb(40, 57, 212);
}



/* partie info user */
.container_user{
    width: 50%;
    margin-left: 27%;
    margin-top: 5%;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 15px;
    max-height: 12rem;
    transition: max-height 1s;
    overflow: hidden;
}

.container_title{
    height: 8rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.container_title img{
    width: 100px;
    height: 100px;
    margin-left: 25%;
}

.title2{
    padding-left: 15px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.sous_titre2{
    padding-left: 25px;
    font-family: 'Poppins', sans-serif;
    padding-top: 5px;
}

#button_user_info{
    text-align: left;
    padding-left: 2rem;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 4rem;
    color: rgb(40, 57, 212);
    background: none;
    cursor: pointer;
    border: none;
    border-top: 1px solid rgb(201,199,199);
}

#button_user_info:hover{
    background-color: #f1efef;
}

#toggle_user{
    font-size: 17px;
    font-family: 'Poppins', sans-serif;

}

#toggle_user > div{
    margin-top: 1%;
    padding-left: 20px;
}

.nbProduct{
    margin-bottom: 2%;
}


/* partie histo command */
.container{
    width: 50%;
    font-family: 'Poppins', sans-serif;
    margin-left: 27%;    
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.title_histo{
    display: inline-block;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 15px;
    width: 45%;
    max-height: 7rem;
    transition: max-height 1.2s;
    overflow: hidden;
}


.container_chevron{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container_chevron i{
    font-size: 25px;
    margin-right: 5%;
    cursor: pointer;

}

#div_histo{
    height: 3rem;
    text-align: left;
    padding-left: 2rem;
    padding-top: 1rem;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    top: 0;
}

.sous_titre_histo2 a {
    padding-left: 10px;
    margin-top: 1%;
    text-decoration: none;
    color: rgb(40, 57, 212);
    
}

.sous_titre_histo{
    margin-top: 1%;
    padding-left: 10px;
}

#toggle_histo{
    margin-top: 5%;
    padding-left: 20px;
    margin-bottom: 5%;
}

/* change coord */

.title_coord{
    border: 1px solid rgb(201, 199, 199);
    border-radius: 15px;
    width: 45%;
    max-height: 7rem;
    transition: max-height 1.2s;
    overflow: hidden;
}

.div_coord{
    font-size: 20px;
    padding-left: 2rem;
    font-weight: 600;
    padding-top: 1rem   ;
}

.line_coord{
    font-size: 17px;
    padding-left: 1rem;
    margin-top: 4%;
}

#form_coord{
    margin-top: 10%;
    display: block;
    margin-left: 3%;
}
.coord_1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;

}
.coord_1 >  input{
    margin-right: 3%;
    width: 70%;
}

.submit_coord{
    width: 80px;
    height: 30px;
    background-color: #fff;
    color:#18b131;
    border: 2px solid #18b131;
    font-size: 15px;
    border-radius: 15%;
    cursor: pointer;
    margin-bottom: 5%;
    margin-top: 7%;
    margin-left: 40%;
}


.submit_coord:not([disabled]):hover{
    background-color:#18b131;
    border:none;
    color: #fff;
    transition: 0.5s;
}

/* contrat */
.contrat_info{
    width: 50%;
    margin-left: 27%;
    margin-top: 3.5%;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 15px;
    max-height: 12rem;
    transition: max-height 1s;
    overflow: hidden;
}

.title_contrat{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 2%;
    margin-left: 5%;
}

.contrat_text{
    margin-top: 3%;
    margin-left: 2%;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}


#container_contrat_button{
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#sign{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-decoration: underline;
    color: red;
}

.contrat_Vendor{
    width: 80px;
    height: 30px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: #fff;
    color:rgb(179, 0, 0);
    border: 2px solid rgb(179, 0, 0);
    font-size: 15px;
    border-radius: 15%;
    cursor: pointer;
}

.contrat_Vendor:hover{
    background-color:rgb(179, 0, 0);
    border:none;
    color: #fff;
    transition: 0.5s;
}

#erreur{
    color: red;
    text-align: center;
}

.resil{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

.container_resil{
    color: red;
    text-decoration: underline;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}


/* ajouter modifier supprimer produit */


.container_modif{
    width: 50%;
    margin-left: 27%;
    margin-top: 5%;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 15px;
    overflow: hidden;
}

.title_x{
    height: 3rem;
    padding-left: 20px;
    margin-top: 3%;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border-bottom: 1px solid rgb(201, 199, 199);
}

.flex_container_modif{
    width: 100%;
}

.flex_container_modif > ul {
    display: flex;
    text-align: center;
    padding: 0;
    max-height: 60rem;
    transition: max-height 1s;
}

.flex_container_modif ul {
    list-style-type: none;
}

.flex_container_modif > ul > li{
    position: relative;
    height: 100%;
    border-right: 1px solid rgb(201, 199, 199);     
    flex: 1;
}

.title_y{
    font-size: 25px;
    margin-top: 10%;
    font-family: 'Poppins';
    color: rgb(40, 57, 212);
    cursor: pointer;
}

.title_y:hover{
    text-decoration: underline;
}

.sous_titre_y{
    margin-top: 12%;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.flex_container_modif > ul > li > form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%,50%);
}


.sous{
    margin-top: 20px;
    width: 100%;
    text-align: left;
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
    padding: 0;
    transition: max-height 1s;
}

.sous > li > form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.sous > li > form > input, .sous > li > form > textarea {
    width: 70%;
    margin-top: 3%;
}

textarea{
    height: 6rem;
}

/* btn */
.btn_submit_add{
    font-weight: 600;
    width: 100px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: #fff;
    color:rgb(179, 0, 0);
    border: 2px solid rgb(179, 0, 0);
    border-radius: 15%;
    cursor: pointer;
}


.btn_submit_add:hover{
    background-color:rgb(179, 0, 0);
    border:none;
    color: #fff;
    transition: 0.5s;
}

#list_produit_modif{
    margin-left: 10%;
    margin-bottom: 7% ;
}

#list_produit_supp{
    margin-bottom: 6%;
}

#list_produit_supp, #list_produit_modif{
    font-size: 13px;
    width: 20em;
    height: 3em;
    font-family: Arial, sans-serif;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    appearance: none; /* Permet de masquer la flèche par défaut du navigateur */
    -webkit-appearance: none; /* Permet de masquer la flèche par défaut sur Safari et Chrome */
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='6'><polygon points='0,0 10,0 5,6'/></svg>") !important; /* Ajoute une flèche personnalisée */
    background-repeat: no-repeat;
    background-position: right 8px center;
}

 
#list_produit_supp:hover,
#list_produit_supp:focus,
#list_produit_modif:hover,
#list_produit_modif:focus {
    outline: none;
    border-color: #555;
}
  
#list_produit_modif option {
    font-size: 11px;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

.erreur_modif, .erreur_add, .erreur_supp{
    width: 100%;
    color: red;
    font-size: 17px;
    margin-top: 5%;
    text-align: center;
}